html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@font-face {
  font-family: "Gilroy";
  src: url('../fonts/Gilroy/Gilroy-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Ligth";
  src: url('../fonts/Gilroy/Gilroy-Ligth.otf');
  font-weight: bold;
  font-style: normal;
}